#nav ul {
  list-style-type: none;
  height: 100%;
}

#nav li a.active {
  background-color: #04aa6d;
  color: white;
}

#nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.marge {
  margin-bottom: 45%;
}
