ul {
  list-style-type: none;
  width: 25%;
  position: fixed;
  height: 100%;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.marge {
  margin-bottom: 45%;
}
